:root {
    --reblock-theme-color: #77008d;
}

.block-editor-block-toolbar {

    .components-toolbar-group {

        .reblock-disabled-btn-title {

            &[aria-disabled=true]{
                color: rgb( 30, 30 , 30) !important;
            }

        }

    }

}

.wp-block-reblock-reblock-block-selector {

    .reblock-select {

        border: 1px solid #f2f2f2;
        padding: 1em 1em 0;

        .editor-combobox {
            margin-bottom: 1em;
        }
    }

    &::after {
        outline-color: var(--reblock-theme-color) !important;
    }

    .components-combobox-control {

        ul {
            padding: 0 !important;
            margin: 0 !important;
        }

    }

    .loading-message {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        color: #686868;
        font-size: 0.75em;
    }

    .loader {
        width: 24px;
        height: 24px;
        display: inline-block;
        position: relative;
        background: url('data:image/svg+xml,<svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" aria-hidden="true" focusable="false"><path d="M28,0H4C1.79,0,0,1.79,0,4v24c0,2.21,1.79,4,4,4h24c2.21,0,4-1.79,4-4V4c0-2.21-1.79-4-4-4ZM17.11,26.84s-.04,0-.06,0c-5.99.57-11.31-3.82-11.88-9.81-.25-2.6.45-5.21,1.96-7.34l-1.99-1.99c-.07-.08-.12-.17-.13-.28-.02-.25.16-.47.41-.49l5.55-.51s.05,0,.08,0c.25.02.43.24.41.49l-.51,5.55c0,.11-.06.2-.13.28-.18.18-.46.18-.64,0l-1.75-1.75c-2.76,4.19-1.61,9.82,2.58,12.58,1.73,1.14,3.8,1.66,5.86,1.46.5-.06.95.29,1.02.78.06.5-.29.95-.78,1.02ZM26.88,24.94c-.08.08-.17.12-.28.13l-5.55.51c-.25.02-.47-.16-.49-.41,0-.03,0-.05,0-.08l.51-5.55c.02-.25.24-.43.49-.41.11,0,.2.06.28.13l1.74,1.74c2.32-3.59,1.89-8.38-1.14-11.41-1.99-1.99-4.68-2.87-7.28-2.62-.5.06-.95-.29-1.02-.78-.06-.5.29-.95.78-1.02.02,0,.04,0,.06,0,5.99-.57,11.31,3.82,11.88,9.81.25,2.57-.5,5.21-1.98,7.33l2,2c.18.18.18.46,0,.64Z" style="fill: rgb(119, 0, 141);"></path></svg>') no-repeat center;
        box-sizing: border-box;
        animation: flipX 2s linear infinite;
        margin-bottom: 1em;
    }
      
    @keyframes flipX {
        0% {
            transform: perspective(200px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
        }
        100% {
            transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
        }
    }
}